.tileContainer{
    box-shadow: 0 3px 6px gray;
    margin-right: 30px;
    margin-bottom: 30px;
    width:350px;
    height: 140px;
    background-color: white;
    display: inline-block; 
}

.tileComponent1{
    text-align: left;
    width:50%;
    float: left;
}

.tileComponent2{
    width:50%;
    float: left;
    margin-top: 20px;
}

.componentHeading{
    text-align: left;
    color:black;
    font-size:18px;
    font-weight: bold;
}

.componentSubHeading{
    text-align: left;
    color:gray;
    font-size:14px
}

.hd{
    color: lightblue;
}

.dropdown{
    text-align: left;
    margin-left: 20px;
    align-items: center;
    color: gray;
}