.bar{
	margin-top: 0px;
	background-color: lightblue;
}

.container-fluid{
    background-color: lightblue;
}

.navbar-brand{
    margin-top: 6px;
}

#logo{
    color:white;
    font-weight: bold;
    font-size: 24px;
    background-color:transparent;
	margin-left: 30px;
}

#li{
	float: right;
	color: white;
	margin: 18px 12px;
}

.btnn{
	float: right;
	height:40px;
    width:180px;
	margin: 10px 12px;
}

.imageContainer{
    background: url('../img/macbookpro.jpg');
    border-style: solid ;
    border-color: white;
    background-repeat: no-repeat;
	background-size: cover;
	height: 460px;
	width: auto;
}

.btn{
	float: right;
	margin: 10px 20px;
}

#hd{
	color: rgb(44, 44, 255);
}

main {
	max-width: 1200px;
	margin: auto;
}

.tabs {
	position: relative;
	clear: both;
  	color:black;
}

.tabs .tab {
	float: left;
}

.tabs .tab .content {
	display: none;
	position: absolute;
	background-color: white;
	left: 0px;
	width: 100%;
	padding: 20px 20px 40px 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.checkboxtab {
	display: none;
}

.tab label {
	margin-right: 10px;
	position: relative;
	display: inline-block;
	font-size: 19px;
	font-weight: 500;
	padding: 20px;
}

.checkboxtab:checked~label {
	font-weight: bold;
	border-bottom: 1px solid blue;
	/* z-index: 1; */
}

.checkboxtab:checked~.content {
	display: block;
}

.content h3 {
	margin: 30px 0;
}

.content p {
	margin-bottom: 50px;
}

.content h4 {
	font-weight: bold;
	margin: 20px 0;
}

.contact-number p {
	color: orangered;
}

.address h2 {
	margin: 30px 0;
	font-weight: 900;
	font-size: 18px;
}

.ws{
	width: 100px;
}